/* Write your code here. */
body {
    margin: 0px;
}

.bg-container {
    background-color: #0f172a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #f8fafc;
    font-family: "Roboto";
}

.image {
    height: 250px;
    width: 200px;
}

@media (min-width:576px) and (max-width:767px) {
    .image {
        height: 250px;
        width: 200px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .image {
        height: 350px;
        width: 270px;
    }
}